
.poc-card {
  height: 280px;
  cursor: pointer;
  .poc-content {
    overflow: auto;
    max-height: 150px;
    min-height: 150px;
    font-weight: 300;
  }

  .poc-card-title {
    width: max-content;
  }
}

.poc-article, .poc-web {
  flex: 0 0 32%;
}

@media screen and (max-width: 962px) {
  .poc-article, .poc-web {
    flex: 1 1 45%;
  }
}
