<div fxLayout="row wrap" fxLayoutAlign="center center">
  @for (item of pocs; track item) {
    <mat-card (click)="openItem(item)" [ngClass]="{'poc-web': item?.status != 'Article', 'poc-article': item?.status == 'Article'}" class="poc-card mc-padding-r1 border-radius-20 mc-margin-bottom-r0-75 mc-margin-right-r0-75">
      <mat-card-title fxLayout="row" class="mc-margin-bottom-r0-75" fxLayoutAlign="space-between center">
        <span class="font-16 poc-card-title">{{item.name}}</span>
        <button class="font-9 border-radius-20" mat-stroked-button [class]="item.status==='Complete'? 'color-1e1e1e': 'background-303134 color-fefe'"> {{item.status}}</button>
      </mat-card-title>
      @if (item?.image) {
        <img mat-card-image height="150" [src]="item.image" alt="Dynamic CSS">
      } @else {
        <mat-card-content class="poc-content">
          <p>{{item.description}}</p>
        </mat-card-content>
      }
      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
        @if (item?.type == 'Organisation') {
          <button mat-stroked-button [disabled]="true">{{item?.type}}</button>
        } @else if (!item?.git && !item?.website) {
          <b class="font-11">Currently Unavailable.</b>
        } @else {
          <button mat-stroked-button (click)="$event.stopPropagation(); openSource(item?.git)" [matTooltip]="'Goto Source Code'" [disabled]="!item?.git">Source</button>
          <button mat-stroked-button (click)="$event.stopPropagation(); openWebsite(item?.website)" [matTooltip]="'Visit'" [disabled]="!item?.website">Website</button>
        }
      </mat-card-actions>
    </mat-card>
  }
</div>

<ng-template #pocSheetItemRef>
  <div class="mc-padding-r1" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10">
    <span class="font-20"><b>{{currentItem?.name}}</b></span>
    <span class="font-12" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5">
      <span>
        <b class="font-12">Description</b>:
        {{currentItem?.description}}
      </span>
      <span>
        <b class="font-12">Role</b>:
        {{currentItem?.role}}
      </span>
      <span>
        <b class="font-12">Tools Used</b>:
        {{currentItem?.tools}}
      </span>
      <span>
        <b class="font-12">Skills</b>
        {{currentItem?.skills}}
      </span>
      <b class="font-12">Responsibilities</b>
      <ul>
        @for (item of currentItem?.responsibilities; track item) {
          <li>{{item}}</li>
        }
      </ul>
    </span>
  </div>
</ng-template>
