.poc-card {
  width: 340px;
  min-height: 280px;
  max-height: 380px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    z-index: 999;
  }
  .poc-content {
    overflow: auto;
    max-height: 150px;
    min-height: 150px;
    font-weight: 300;
  }
}
